.mapBox {
  width: 100%;
  height: 100%;
  text-align: center;
}

.map {
  width: 100%;
  height: 100%;
}

/* media query for mobile */
@media screen and (max-width: 600px) {
  .mapBox {
    min-height: 300px; /* Adjust the minimum height for smaller screens */
    max-height: 80vh; /* Adjust the maximum height for smaller screens */
  }
}
