/* Media query for mobile */
@media screen and (max-width: 666px) {
  .list table {
    border: 0;
  }

  .list table caption {
    font-size: 1.3em;
  }

  .list thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .list tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  .list td {
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
* aria-label has no advantage, it won't be read inside a table
content: attr(aria-label);
*/
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

/* Media query for tablet */
@media screen and (min-width: 667px) and (max-width: 1023px) {
  .list p,
  .links a {
    font-size: 14px;
    text-align: left;
  }

  .list a {
    font-size: 14px;
  }

  .links {
    font-size: 14px;
  }

  .links:hover {
    color: #ff8813;
  }
}

/* media query for desktop */
@media screen and (min-width: 1024px) {
  .list p,
  .links a {
    font-size: 14px;
    text-align: left;
  }

  .list a {
    font-size: 14px;
  }

  .links {
    font-size: 14px;
  }

  .links:hover {
    color: #ff8813;
  }
}
