.paginationNumbers {
  display: flex;
  list-style: none;
}

.paginationNumbers li {
  margin-right: 5px;
  text-align: center;
}

.paginationBox {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  padding: 5px;
  list-style: none;
}

.paginationBox a:hover {
  color: #ff8813;
}

.paginationBox a {
  cursor: pointer;
}

.paginationBox p {
  margin: 0;
}

.airportLink:hover {
  color: #ff8813;
}

/* media query for desktop */
@media screen and (min-width: 825px) {
  .listContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
  }

  .listBox {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }

  .list {
    grid-template-columns: repeat(1, 1fr);
  }

  .list p {
    font-size: 16px;
  }

  .list a {
    text-decoration: none;
  }

  .pageNumberingOnRight {
    text-align: right;
  }
}
