.resultsContainer {
  /* grid parent */
  display: grid;
  max-width: 100%;
  margin: 0 auto;
  grid-template-columns: 1fr; /* Single column by default */
}

.resultsBox {
  /* grid child */
  text-align: center;
  border: 2px solid blue;
}

/* media query for desktop */
@media screen and (min-width: 825px) {
  .resultsContainer {
    grid-template-columns: 70% 30%;
  }
}
