.mainSearchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchIcon {
  max-width: 50px;
  text-align: center;
  float: inline-end;
  margin-top: 0.4rem;
}

.searchBox input {
  box-sizing: border-box;
  border: 3px solid #4d4c7d;
  border-radius: 25px;
  padding: 1rem 3rem 1rem 3rem;
  font-size: 20px;
  color: #363062;
  margin-right: 0.5em;
}

.searchSelection {
  align-items: center;
  box-sizing: border-box;
  display: inline-block;
  border: 3px solid #4d4c7d;
  border-radius: 30px;
  padding: 1rem;
  margin-right: 0.5rem;
  font-size: 20px;
  color: #363062;
}
