.mainSearchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 1em;
}

.searchIcon {
  max-width: 50px;
  text-align: center;
  justify-content: center;
}

.searchBox input {
  box-sizing: border-box;
  border: 3px solid #363062;
  border-radius: 25px;
  padding: 0.5rem 3rem;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #363062;
  margin-right: 0.5em;
}

.searchBox {
  display: inline-block;
  align-items: center;
}

.searchBox img {
  align-items: center;
}

.searchSelection {
  box-sizing: border-box;
  border: 3px solid #363062;
  border-radius: 25px;
  padding: 0.5rem 3rem;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #363062;
  margin-right: 0.5em;
  display: inline-block;
}

.searchSlogan {
  font-size: 20px;
  color: #363062;
  text-align: center;
  margin: 0 1em 1em 1em;
}

.mobileSelection {
  display: none;
}

.validateMessage {
  color: red;
  padding: 1em 3em;
  text-align: center;
  font-size: 16px;
}

.iataLink {
  text-decoration: none;
  color: red;
  font-size: 16px;
}

.iataLink:hover {
  color: #363062;
}

.searchBox input:focus {
  border-color: #363062;
}

.searchInput:focus {
  border-color: #363062;
}

/* Media query for tablet */
@media screen and (min-width: 600px) and (max-width: 824px) {
  .searchSelection {
    box-sizing: border-box;
    border: 3px solid #363062;
    border-radius: 25px;
    padding: 1rem 3rem 1rem 3rem;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #363062;
    margin-right: 0.5em;
    display: inline-block;
  }

  .searchBox input {
    box-sizing: border-box;
    border: 3px solid #363062;
    border-radius: 25px;
    padding: 1rem 2rem;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #363062;
    margin-right: 0.5em;
  }

  .mainSearchContainer {
    font-size: 16px;
  }

  .validateMessage {
    color: red;
    padding: 0 30em;
    text-align: center;
  }

  .searchBox {
    display: inline-block;
    display: flex;
    align-items: center;
  }

  .searchBox img {
    align-items: center;
  }

  .searchBox input:focus {
    border-color: #363062;
  }

  .searchInput:focus {
    border-color: #363062;
  }
}

/* media query for desktop */
@media screen and (min-width: 825px) {
  .searchSelection {
    box-sizing: border-box;
    border: 3px solid #363062;
    border-radius: 25px;
    padding: 1rem 3rem 1rem 3rem;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #363062;
    margin-right: 0.5em;
    display: inline-block;
  }

  .searchBox input {
    box-sizing: border-box;
    border: 3px solid #363062;
    border-radius: 25px;
    padding: 1rem 3rem 1rem 3rem;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #363062;
    margin-right: 0.5em;
  }

  .searchBox input:focus {
    border-color: #363062;
  }

  .searchInput:focus {
    border-color: #363062;
  }

  .mainSearchContainer {
    font-size: 16px;
  }

  .validateMessage {
    color: red;
    padding: 0 30em;
    text-align: center;
  }

  .searchBox {
    display: inline-block;
    display: flex;
    align-items: center;
  }

  .searchBox img {
    align-items: center;
  }
}
