.resultsContainer1,
.resultsContainer2,
.resultsContainer3 {
  /* grid parent */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

@media screen and (max-width: 600px) {
  .mapBox {
    text-align: center;
    width: 200px;
  }

  .resultsBox {
    max-width: 100%;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #f99417;
    border-radius: 0.5rem;
    gap: 1rem;
    margin: 0.2rem;
    background-color: white;
    max-width: 100%;
  }

  .resultsBox,
  .resultsBoxSecond h2 {
    font-size: 10px;
  }

  .resultsBoxSecond {
    grid-template-columns: repeat(4, 25%);
    text-align: center;
    border: 1px solid #f99417;
    border-radius: 0.5rem;
    gap: 1rem;
    margin: 0.2rem;
    background-color: white;
  }
}

/* Media query for tablet */
@media screen and (min-width: 600px) and (max-width: 824px) {
  .resultsContainer1,
  .resultsContainer2,
  .resultsContainer3 {
    /* grid parent */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .mapBox {
    text-align: center;
    width: 200px;
  }

  .resultsBox {
    max-width: 100%;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #f99417;
    border-radius: 0.5rem;
    gap: 1rem;
    margin: 0.2rem;
    background-color: white;
    max-width: 100%;
  }

  .resultsBox,
  .resultsBoxSecond h2 {
    font-size: 10px;
  }

  .resultsBoxSecond {
    grid-template-columns: repeat(4, 25%);
    text-align: center;
    border: 1px solid #f99417;
    border-radius: 0.5rem;
    gap: 1rem;
    margin: 0.2rem;
    background-color: white;
  }
}

/* media query for desktop */
@media screen and (min-width: 825px) {
  .resultsContainer1 {
    grid-template-columns: 50% 20% 30%;
  }

  .resultsContainer2 {
    grid-template-columns: repeat(1, 1fr);
  }

  .resultsContainer3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .resultsBoxSecond {
    grid-template-columns: repeat(4, 25%);
    text-align: center;
    border: 1px solid #f99417;
    border-radius: 0.5rem;
    gap: 2rem;
    margin: 0.5rem;
    background-color: white;
  }

  .resultsBox {
    /* grid child */
    text-align: center;
    border: 1px solid #f99417;
    border-radius: 0.5rem;
    gap: 2rem;
    margin: 0.5rem;
    background-color: white;
    max-width: 100%;
  }
}
