.resultsContainer1,
.resultsContainer2,
.resultsContainer3 {
  /* grid parent */
  display: grid;
  max-width: 100%;
  margin: 0 auto;
  grid-template-columns: repeat(1, 1fr); /* Single column by default */
}

.resultsBox {
  /* grid child */
  text-align: center;
  border: 1px solid #f99417;
  border-radius: 0.5rem;
  gap: 2rem;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: white;
}

/* media query for desktop */
@media screen and (min-width: 825px) {
  .mainContainer {
    width: auto;
  }
  .resultsContainer1 {
    grid-template-columns: 50% 20% 30%;
  }

  .resultsContainer2 {
    grid-template-columns: repeat(1, 1fr);
  }

  .resultsContainer3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .resultsBoxSecond {
    grid-template-columns: repeat(4, 25%);
    text-align: center;
    border: 1px solid #f99417;
    border-radius: 0.5rem;
    gap: 2rem;
    margin: 0.5rem;
    background-color: white;
  }
}
