.countryContainer {
  /* grid parent */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.countryBox {
  /* grid child */
  max-width: 100%;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #f99417;
  border-radius: 0.5rem;
  gap: 2rem;
  padding: 0.5rem;
  margin: 1rem;
  background-color: white;
  max-width: 100%;
}

/* media query for desktop */
@media screen and (min-width: 825px) {
  .countryContainer {
    display: grid;
    grid-template-rows: repeat(3, 482px) auto auto;
    grid-template-columns: 25% 25% 50%;
  }

  .countryBox:nth-child(3) {
    grid-row: span 2;
    min-height: 900px;
  }

  .countryBox:nth-child(4) {
    grid-column: span 2;
  }

  .paginationBox {
    bottom: 0;
  }
}
