.countryContainer {
  /* grid parent */
  display: grid;
  max-width: 100%;
  padding: 1rem;
  grid-template-columns: repeat(1, 1fr);
}

.countryBox {
  /* grid child */
  max-width: 100%;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #f99417;
  border-radius: 0.5rem;
  gap: 2rem;
  padding: 0.5rem;
  margin: 1rem;
  background-color: white;
  max-width: 100%;
}

/* media query for desktop */
@media screen and (min-width: 825px) {
  .countryContainer {
    grid-template-columns: 20% 20% 60%;
  }
}
