.footerContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  text-align: center;
  background-color: #f99417;
  margin-top: 10em;
}

/* grid child */
.footerBox {
  text-align: left;
}

.footerBox img {
  max-width: 25%;
  display: inline-block;
  padding: 0.5rem;
}

/* media query for desktop */
@media screen and (min-width: 825px) {
  .footerContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
