.footerContainer {
  grid-template-columns: repeat(1, 1fr);
  text-align: center;
  background-color: #f99417;
  margin-top: 14em;
  padding: 0.5em;
}

.footerContainer p {
  font-size: 14px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links img {
  max-width: 75%;
}

.linkGit {
  padding: 0 0.5em 0 0.5em;
}

.linkGit:hover img {
  transform: scale(1.1);
}

/* media query for desktop */
@media screen and (min-width: 825px) {
  .footerContainerHome {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    background-color: #f99417;
    margin-top: 14em;
    padding: 0.5em;
    font-size: 18px;
  }

  .footerContainerCountry {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    background-color: #f99417;
    padding: 0.5em;
    font-size: 18px;
    margin-top: -1em;
  }
}
