.detailsTable {
  text-align: center;
  border-collapse: collapse;
  margin: 0 auto;
}

td,
th {
  border: 1px solid grey;
  padding: 0 1rem 0 1rem;
}

a {
  text-decoration: none;
}

.countryLink {
  font-weight: "400";
}

.countryLink:hover {
  color: #ff8813;
}
